$color-white: #fff;
$color-alabaster: #f7f7f7;
$color-gallery: #eee;
$color-dusty-gray: #999;
$color-gray: #777;
$color-mine-shaft: #333;
$color-dark: #000;

$color-burning-orange: #ff7730;
$color-selective-yellow: #ffb900;
$color-lightGreen: #7ed56f;
$color-green: #55c57a;
$color-darkGreen: #28b485;
$color-dodge-blue: #2998ff;
$color-royal-blue: #5643fa;

// Fonts
$default-font-size: 1.6rem;

// GRID
$grid-width: 144.4rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
