.u-center-text {
  text-align: center;
}

.u-mt-small {
  margin-top: 2rem;
}
.u-mt {
  margin-top: 4rem;
}
.u-mt-large {
  margin-top: 8rem;
}
.u-mt-huge {
  margin-top: 10rem;
}

.u-mb-large {
  margin-bottom: 8rem;
}
.u-mb {
  margin-bottom: 4rem;
}
.u-mb-small {
  margin-bottom: 2rem;
}
